---
layout: archive
title: "Research"
permalink: /portfolio/
author_profile: true
---

<img src="{{ '/images/Yuan_research_0.png' | relative_url }}" style="display:block; margin:auto; width:400px; height:auto;">
<p>
<strong>My research seeks to advance an integrated understanding of water–carbon dynamics across natural and agricultural ecosystems in a changing environment. By combining observations, experiments, and modeling within a Model–Experiment (ModEx) research framework, I aim to reduce critical uncertainties in predicting ecosystem responses. A central focus of my work is how coupled biogeochemical, hydrological, and physical processes shape ecosystem resilience and sustainability.</strong>
</p>

<div style="font-size:80%;"></div>
  {% for post in site.portfolio %}
    {% include archive-single.html %}
  {% endfor %}
</div>
