---
layout: archive
title: "Research"
permalink: /portfolio/
author_profile: true
---

<img src="{{ '/images/Yuan_research_0.png' | relative_url }}" style="display:block; margin:auto; width:500px; height:auto;">
<p>
<strong>My research advances an interdisciplinary understanding of water–carbon dynamics in agricultural and natural ecosystems under global change. I integrate field observations, manipulative experiments, and mechanistic modeling with emerging data-driven approaches within a Model–Experiment Integration (ModEx) framework to reduce uncertainties in predicting ecosystem responses.</strong>
</p>

<div style="font-size:80%;"></div>
  {% for post in site.portfolio %}
    {% include archive-single.html %}
  {% endfor %}
</div>
