---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
<div style="font-size:80%;"></div>
  {% include base_path %}

  {% for post in site.teaching reversed %}
    {% include archive-single.html %}
  {% endfor %}
</div>


<div style="height: 40px;"></div>

Mentoring
======
* 2025 Master Student: Fanchao Zeng (co-mentored with Prof. Fuqi Yao)
* 2022-23 Ph.D Student: Jinyuan Tian
* 2019-20 Ph.D Jianzhao Liu (co-mentored with Prof. Xiaofeng Xu)
* 2016-18 Ph.D Kai Zhu (co-mentored with Prof. Anzhi Wang)
* 2016-18 Ph.D Hongxia Zhang (co-mentored with Prof. Dexin Guan)