{% include base_path %}

{% comment %}
  If no sidebar is defined AND we are on homepage,
  force a simple sidebar with "Home"
{% endcomment %}

{% assign sidebar_data = page.sidebar %}

{% if sidebar_data == nil and (page.url == "/" or page.url == "" or page.url contains "index") %}
  {% assign sidebar_data = [{"title": "Home"}] %}
{% endif %}

<!-- {% if page.author_profile or layout.author_profile or page.sidebar %}  {% endcomment %} -->
{% if page.author_profile or layout.author_profile or sidebar_data %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  <!--  {% if page.sidebar %}  -->
  {% if sidebar_data %}
    {% for s in sidebar_data %}
    <!--  {% for s in page.sidebar %}  -->
      {% if s.image %}
        <img src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | prepend: "/images/" | prepend: base_path }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
    <!--  {% if page.sidebar.nav %} -->
    {% if sidebar_data.nav %}
      <!--  {% include nav_list nav=page.sidebar.nav %} -->
      {% include nav_list nav=sidebar_data.nav %}
    {% endif %}
  {% endif %}
  </div>
{% endif %}